DB_ROOT_PASSWORD=example_root_password
DB_PASSWORD=example_password_db
DB_USER=example_user
DB_NAME=smartfix

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# JWT & WebPush
JWT_SECRET_KEY=your_jwt_secret_key_here
VAPID_PUBLIC_KEY=your_vapid_public_key_here
VAPID_PRIVATE_KEY=your_vapid_private_key_here
VAPID_EMAIL=your_vapid_email_here