# Системные и временные файлы
.DS_Store
.vscode/
.vs/
*.log

# Папки сборки .NET
bin/
obj/
publish/

# Docker и базы данных
.env
*.db
*.sqlite
dump.sql

# Личные настройки
*.user

# Зависимости Node.js (фронтенд)
node_modules/
dist/

# Локальные настройки и кэш VS Code / Игры
.vscode/
*.user